name: "daedalus"

x-environment: &shared-environment
  TZ: "Europe/Moscow"

services:
  watchtower:
    image: containrrr/watchtower
    hostname: daedalus.rk
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      <<: *shared-environment
      WATCHTOWER_NOTIFICATIONS: "shoutrrr"
      WATCHTOWER_NOTIFICATION_URL: /run/secrets/watchtower-notification-url
      WATCHTOWER_SCHEDULE: "0 0 22 * * *"
      WATCHTOWER_CLEANUP: "true"
      WATCHTOWER_DEBUG: "true"
    secrets:
      - watchtower-notification-url

  xray:
    image: ghcr.io/xtls/xray-core
    ports:
      - 981:981/tcp
      - 982:982
    volumes:
      - ./state/xray/data:/etc/xray
    environment:
      <<: *shared-environment
    networks:
      daedalus:
        ipv4_address: 10.0.1.2

  pihole:
    image: pihole/pihole:latest
    restart: unless-stopped
    environment:
      <<: *shared-environment
      WEBPASSWORD: ${PIHOLE_WEBPASSWORD:?error}
    depends_on:
      - unbound
    volumes:
      - ./state/pihole/data:/etc/pihole
      - ./state/pihole/dnsmasq.d:/etc/dnsmasq.d
    cap_add:
      - NET_ADMIN
    dns:
      - 127.0.0.1
      - 10.0.1.4
    networks:
      daedalus:
        ipv4_address: 10.0.1.3
      proxy:

  unbound:
    image: mvance/unbound:latest
    restart: unless-stopped
    volumes:
      - ./state/unbound/data:/opt/unbound/etc/unbound
    networks:
      daedalus:
        ipv4_address: 10.0.1.4

  nginx:
    image: nginx:latest
    ports:
      - 80:80
      - 443:443
    restart: unless-stopped
    volumes:
      - ./state/nginx/data:/etc/nginx
      - ./state/nginx/www:/www

      - ./state/shared/certbot/data:/etc/letsencrypt:ro
      - ./state/shared/certbot/www:/var/www/certbot
    networks:
      - proxy

  certbot:
    image: certbot/certbot:latest
    depends_on:
      - nginx
    command: >-
      certonly --reinstall --webroot --webroot-path=/var/www/certbot
      --email 'personal@ermnvldmr.com' --agree-tos --no-eff-email
      -d ${CERTBOT_DOMAIN_ARG1} -d ${CERTBOT_DOMAIN_ARG2}
    volumes:
      - ./state/shared/certbot/data:/etc/letsencrypt
      - ./state/shared/certbot/www:/var/www/certbot

secrets:
  watchtower-notification-url:
    file: ./secret/watchtower/notification-url.txt
  shared-password:
    file: ./secret/shared/password.txt

networks:
  daedalus:
    name: "daedalus"
    ipam:
      config:
        - subnet: 10.0.1.0/24
  proxy:
    name: "proxy"
    driver: bridge
