name: "bonfire"

x-environment: &shared-environment
  TZ: "Europe/Moscow"

services:
  watchtower:
    image: containrrr/watchtower
    hostname: bonfire.rk
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      <<: *shared-environment
      WATCHTOWER_NOTIFICATIONS: "shoutrrr"
      WATCHTOWER_NOTIFICATION_URL: /run/secrets/watchtower-notification-url
      WATCHTOWER_SCHEDULE: "0 0 22 * * *"
      WATCHTOWER_CLEANUP: "true"
      WATCHTOWER_DEBUG: "true"
    secrets:
      - watchtower-notification-url

  xray:
    image: ghcr.io/xtls/xray-core
    restart: unless-stopped
    volumes:
      - ./state/xray/data:/etc/xray
    environment:
      <<: *shared-environment
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    networks:
      bonfire:
        ipv4_address: 10.1.1.2
      proxy:

  pihole:
    depends_on:
      - unbound
    image: pihole/pihole:latest
    ports:
      - 53:53/tcp
      - 53:53/udp
    environment:
      <<: *shared-environment
      WEBPASSWORD: ${PIHOLE_WEBPASSWORD:?error}
    restart: unless-stopped
    volumes:
      - ./state/pihole/data:/etc/pihole
      - ./state/pihole/dnsmasq.d:/etc/dnsmasq.d
    cap_add:
      - NET_ADMIN
    dns:
      - 127.0.0.1
      - 10.1.1.4
    networks:
      bonfire:
        ipv4_address: 10.1.1.3
      proxy:

  unbound:
    image: mvance/unbound-rpi:latest
    restart: unless-stopped
    volumes:
      - ./state/unbound/data:/opt/unbound/etc/unbound
    networks:
      bonfire:
        ipv4_address: 10.1.1.4

  nginx:
    image: nginx:latest
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./state/nginx/data:/etc/nginx
      - ./state/nginx/www:/www
    networks:
      bonfire:
        ipv4_address: 10.1.1.5
      proxy:

  flame:
    image: pawelmalak/flame:multiarch
    volumes:
      - ./state/flame/data:/app/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    environment:
      PASSWORD: /run/secrets/shared-password
    secrets:
      - shared-password
    networks:
      - proxy

secrets:
  watchtower-notification-url:
    file: ./secret/watchtower/notification-url.txt
  shared-password:
    file: ./secret/shared/password.txt
  shared-host:
    file: ./secret/shared/host.txt

networks:
  bonfire:
    name: "bonfire"
    ipam:
      config:
        - subnet: 10.1.1.0/24
  proxy:
    name: "proxy"
    driver: bridge
